@model IEnumerable<Happy_Cats_Test.Models.Cats>
@{
    ViewData["Title"] = "Котики";
}

<!DOCTYPE html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <table class="table">
        <tr>
            <td>
                <h2>Имя кота</h2>
            </td>
            <td>
                <h2>История</h2>
            </td>
            <td>
                <h2>Описание</h2>
            </td>
        </tr>
 
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h2>@item.Name_Cat</h2>
                </td>
                <td>
                    <h2>@item.History</h2>
                </td>
                <td>
                    <h2>@item.Description_Cat</h2>
                </td>
            </tr>   
            }
    </table>
</body>